{% extends "bootstrap/base.html" %}

{% block title %}
Aquí va el título
{% endblock %}

{% block body %}

<body style="background-image:url('/static/q.jpg');
background-repeat: no-repeat;   background-size: 3000px 1800px; width: 100%; height: 100%;">


    {% block navbar %}
    <!-- Aqui agregar la barra de navegación deseada -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/bienvenida">B i e n v e n i d @</a>

            </div>
            <ul class="nav navbar-nav">
                <li><a href="/editorial">E d i t o r i a l</a></li>
                <li><a href="/libros">L i b r o s</a></li>
                <li><a href="/autores">A u t o r e s</a></li>
                <li><a href="/autoregistro">R e g i s t r o   A u t o r</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
                <li><a href="/registro"><span class="glyphicon glyphicon-log-in"></span> Registrar </a></li>
            </ul>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <!-- Aqui agregar el contenido deseado -->
    <h1>Libreria " El buen querer " &#x1f496;</h1>
    <div class="container">
        <br>
        <br>
        <h2>Contenido de libros &#x1f4d6;</h2>
        <br>

        <p>Como usuario registrado tendras el privilegio de poder agregar nuevos libros
            actualizar los existentes y eliminar los que ya no se encuentren disponibles.</p>
        
        <a href="/registrarlibro" class="btn btn-info" role="button">Agregar Libro</a>
        <p style="font-family:'Courier New'"></p>

        <table class="table">
            <thead>
                <tr>
                    
                    <th>Nombre</th>
                    <th>Clasificacion</th>
                    <th>No Paginas</th>
                    <th>Editorial</th>
                    <th>Autor</th>
                    <th>Editar</th>
                    <th>Eliminar</th>

                </tr>
            </thead>
            <tbody>
                {% for resultado in variable0 %}
                
                <tr>
                    
                    
                    <td>{{resultado.titulo}}</td>
                    <td>{{resultado.clasificacion}}</td>
                    <td>{{resultado.paginas}}</td>
                    
                    {% for rE in variable2 %}
                        {% if resultado.id_editorial == rE.id %}

                        <td>{{rE.nombre}}</td>

                        {% endif %}
                    {% endfor %}

                    {% for rA in variable1 %}
                        {% if resultado.id_autor == rA.id %}

                        <td>{{rA.nombre}}</td>

                        {% endif %}
                    {% endfor %}
                        
                   
                        <td>
                            <a href="/editar/{{resultado.id }}" >Editar &#x270F;&#xFE0F</a>
                           
                        </td>

                        <td>
                            <a href="/eliminar/{{resultado.id }}">Eliminar &#128465;&#65039;</a>
                        </td>
                        
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
    {% endblock %}